extends layout

block content
  h1= title
  p Welcome to lets travel!
  img(src="images/beach.jpg", alt="beach home page")

  div
    h1 Title
    a(href='https://www.google.com' class='button') Link to Google 
  
